/* You can add global styles to this file, and also import other style files */
$blue:    #3386ff !default

@import '../node_modules/bootstrap/scss/bootstrap'
@import "~font-awesome/css/font-awesome.css"


.main-container
  overflow: hidden

.has-margin-5
  margin-top: 5em

.has-margin-3
  margin-top: 3em

.has-border-bottom
  border-bottom: 1px solid #ededed
  padding-bottom: .5em

.has-padding-top
  padding-top: .5em

.is-small
  font-size: .75em

.navbar
  background-color: #fff

.hoverable
  cursor: pointer
