<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container has-border-bottom">
    <a class="navbar-brand" routerLink="/">Syros</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">

        </li>
      </ul>
      <button class="btn btn-outline-primary" (click)="open(content2)">Sign in</button>
      <button class="btn btn-link is-small" (click)="open(content)">Create an account</button>
    </div>
  </div>
</nav>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create an account</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>For a better user experience sign in to Aegean Guides so you can fully plan and customize your next journey!</p>
    <app-register></app-register>
  </div>
  <div class="modal-footer">
    <div class="is-small">
      <p>
        To use Aegean Guides you must have cookies enabled. <br>
        Also, we’ll never post to Facebook or Google without your permission. For more info, please see Login FAQ.
      </p>
    </div>
  </div>
</ng-template>


<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body2&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
